<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Team Moon Knight Project - Bookstore SPA</h1>
        </div>
    </div>

    <div class="col-lg-8 text-left">
        <div class="bs-component">
            <p>View the source code: <a href="https://github.com/JS-APPs-Team-Moon-Knight/Programmer-book-store" target="_blank">Github</a></p>

            <p>Please visit: <a href="https://github.com/JS-APPs-Team-Moon-Knight/Programmer-book-store/blob/master/Description.md" target="_blank">Project Requrements</a></p>
            <p>This application was developed as a part of Telerik Academy's JavaScript Applications course.</p>
            <p>Team members: </p>
            <ul>
                <li>Ivan Parvanov - <a href="https://telerikacademy.com/Users/ivan.parvanov.1"> ivan.parvanov.1</a></li>
                <li>Dimitar Pechev - <a href="https://telerikacademy.com/Users/dimpechev"> dimpechev</a></li>
                <li>Velin Yordanov - <a href="https://telerikacademy.com/Users/VelinYordanov"> VelinYordanov</a></li>
                <li>Spas Stoimirov - <a href="https://telerikacademy.com/Users/sstoimirov"> sstoimirov</a></li>
                <li>Niya Keranova - <a href="https://telerikacademy.com/Users/Nayata"> Nayata</a></li>
            </ul>
        </div>
    </div>
</div>