<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Team Moon Knight Project - Bookstore SPA</h1>
        </div>
    </div>

    <div class="col-lg-8 text-left">
        <div class="bs-component">
            <p>View the source code: <a href="https://github.com/JS-APPs-Team-Moon-Knight/Programmer-book-store" target="_blank">Github</a></p>

            <p>Please visit: <a href="https://github.com/TelerikAcademy/JavaScript-Applications/tree/master/Teamwork" target="_blank">Project Requrements</a></p>
            <p>This application was developed as a part of Telerik Academy's JavaScript Applications course.</p>
            <p>Team members: </p>
            <ul>
                <li>Ivan Parvanov - ivan.parvanov.1</li>
                <li>Dimitar Pechev - dimpechev</li>
                <li>Velin Yordanov - VelinYordanov</li>
                <li>Spas Stoimirov - sstoimirov</li>
                <li>Niya Keranova - Nayata</li>
            </ul>
        </div>
    </div>
</div>