<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Contacts</h1>
        </div>
    </div>

    <div class="col-lg-8 text-left">
        <div class="bs-component">
            <ul>
                <li><a href="https://github.com/J0hnyBG/" target="_blank">Ivan Parvanov</a></li>
                <li><a href="https://github.com/dimitar-pechev/" target="_blank">Dimitar Pechev</a></li>
                <li><a href="https://github.com/VelinYordanov/" target="_blank">Velin Yordanov</a></li>
                <li><a href="https://github.com/sstoimirov" target="_blank">Spas Stoimirov</a></li>
                <li><a href="https://github.com/Nayaata/" target="_blank">Niya Keranova</a></li>
            </ul>
        </div>
    </div>
</div>