<h3>Book Recommendation</h3><br>
<div class="row">
    <div class="col-sm-4">
        <img src="images/Book_Images/JS.png" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
        <p>JavaScript</p>
    </div>
    <div class="col-sm-4">
        <img src="images/Book_Images/C%23.png" class="img-responsive" style="width: 100%; height: 100%;"
             alt="Image">
        <p>CSharp</p>
    </div>
    <div class="col-sm-4">
        <div class="well" style="background-color: #b9def0">
            <p><strong>The Must-Have Books for JavaScript</strong> </br>In this series of slides,
                I go through the true "must have" books for the language that is seemingly becoming
                universally adopted by communities of all kinds: mobile apps, Web, Windows 8, and even
                server-side development.</p>
        </div>
        <div class="btn-group">
            <a href="#/products/JavaScript" class="btn btn-primary">JavaScript Books</a>
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://eloquentjavascript.net/">Eloquent JavaScript</a></li>
                <li><a href="http://shop.oreilly.com/product/9780596805531.do">JavaScript, The Definitive Guide</a>
                </li>
                <li><a href="http://www.apress.com/9781430247494">Pro JavaScript Performance</a></li>
                <li><a href="http://shop.oreilly.com/product/9780596806767.do">JavaScript Patterns</a></li>
                <li><a href="https://www.amazon.com/jQuery-UI-Mobile-Examples-Developers/dp/0321822080">jQuery,
                    jQuery UI, and jQuery Mobile</a></li>
                <li class="divider"></li>
                <li><a href="http://jsbooks.revolunet.com/">JS<em>books</em> site</a></li>
            </ul>
        </div>
        <div style="height: 25px"></div>
        <div class="well" style="background-color: #b9def0">
            <p><strong>The Must-Have Books for C#</strong> </br> C# language and .NET are very popular with
                developers
                all over the world for programming C# applications which are used in daily life.We have now short
                listed
                for you the 10 best C# books to learn programming. Some of these books are targeted for c#
                beginners.</p>
        </div>
        <div class="btn-group">
            <a href="#/products/c#" class="btn btn-primary">CSharp Books</a>
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://www.introprogramming.info/english-intro-csharp-book/">Fundamentals of Computer
                    Programming with C#</a></li>
                <li><a href="http://it-ebooks.directory/book-0672336901.html">C# 5.0 Unleashed</a></li>
                <li><a href="http://www.developersfeed.com/10-best-c-books-to-learn-programming/">Pro C# 5.0 and the
                    .NET 4.5 Framework</a></li>
                <li><a href="http://www.developersfeed.com/10-best-c-books-to-learn-programming/">The C# Player’s
                    Guide</a></li>
                <li><a href="http://www.developersfeed.com/10-best-c-books-to-learn-programming/">Adaptive Code via
                    C#</a></li>
                <li class="divider"></li>
                <li><a href="http://www.developersfeed.com/10-best-c-books-to-learn-programming/">C# best books
                    site</a></li>
            </ul>
        </div>
    </div>
</div>
</div>